[build]
  command = "npm run build"
  publish = ".next"

[[redirects]]
  from = "/_next/*"
  to = "/.next/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/___netlify-handler"
  status = 200
  force = true
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/___netlify-handler"
  status = 200
  force = true

[build]
  publish = ".next"

